.dashboard-navbar {
  // height: 65px;
  background: #ffff;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  &-left {
    &-text {
      margin-left: 2em;
      color: #7b7b7b;
      &-title {
        font-weight: bold;
        color: #045860;
      }
    }
  }
  &-right {
    .icon {
      width: 28px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
