@import './common/mixin.scss';
@import './common/variable.scss';
@import './common//main.scss';
// @import './common/input.scss';
@import './common/utilities.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat/Montserrat-Regular.ttf') format('opentype');
}
:root {
  --mainWhite: #fff;
  --offWhite1: #f7f7f7;
  --offWhite15: #f5f5f5;
  --offWhite2: #00000017;
  --offWhite3: #dddddd;
  --offWhite4: #d5d5d5;
  --silverBlue: #8992a3;
  --mainGreen: #3d9b3d;
  --lightGreen: #90be6d;
  --lightGray: #6a6a6a;
  --darkBlue1: #222b45;
  --darkBlue2: #1a1818;
  --darkBlue3: #0c223d;
  --midBlue1: #22549e;
  --midBlue2: #103469;
  --lightBlue: #49abe3;
  --lightOrange: #eb692a;
  --darkOrange: #e1421a;
  --darkGray1: #2e2e2e;
  --darkGray2: #404040;

  // media queries breakpoint
  // 576px, 768px, 992px, 1200px
  --phone: 37.5em;
  --tabPortrait: 56.25em;
  --tabLandscape: 75em;
  --bigDesktop: 112.5em;
}
// $box-shadow: 4px 4px 25px #d5d5d5;

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Montserrat';
  background: white;
}

.mb-6 {
  margin-bottom: 6rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mt-6 {
  margin-top: 6rem;
}
.mt-8 {
  margin-top: 8rem;
}
.mb-12 {
  margin-bottom: 12rem;
}

@media (max-width: 576px) {
  [class^='col-'] {
    margin-bottom: 1.5rem;
  }
}
