.top-section-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  color: $darkGreen;
}
.green {
  color: $mainGreen;
}
.table-section {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  margin: 10px;
  padding:50px 20px;
  position: relative;
  overflow-x: auto !important;

}

.rows{
      display: flex;
      flex-wrap: wrap;
      width:100%;
      justify-content: space-between;
  }
  .cols{
      flex-basis: 1 0 25%;
      width:23%;
      min-width: 250px;
      margin-right: 20px;
  }
  @media (max-width:769px) {
      .rows{
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .cols{
        width:100%;
        flex-basis: 1 0 100%;
         
      }
  }