.top-section-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  color: $darkGreen;
}
.green {
  color: $mainGreen;
}
.table-section {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  margin: 10px;
  padding:50px 20px;
  position: relative;

}
